.tabContent {
    margin: 20px 20px;
}

.list-item {
    margin: 10px -10px;
    /*border: 1px solid black;*/
    padding: 5px;
    border-radius: 5px;
    background-color: darkgrey;
}

.page-header {
    margin: 33px 0 20px;
    border-bottom: 1px solid #C0CFDF !important;
}
h2{
    font-size: 28px !important;
}

.mb{
    margin-bottom: 2rem;
}
.help-block{
    display: inline !important;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}
@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}
@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.alert{
    padding: 7px !important;
}
