<html lang="en" ng-app="org.dariah.desir.ui">
<head>
    <meta charset="utf-8">
    <title>DESIR Code Sprint Track A - Text Mining</title>

    <!-- JQuery -->
    <script src="resources/bower_components/jquery/dist/jquery.js"></script>
    <script src="resources/bower_components/jquery-form/dist/jquery.form.min.js"></script>

    <!-- Bootstrap -->
    <script src="resources/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="resources/bower_components/bootstrap/dist/css/bootstrap.css" media="screen"/>
    <link rel="stylesheet" href="resources/bower_components/bootstrap/dist/css/bootstrap-theme.css" media="screen"/>

    <!-- Angular JS -->
    <script src="resources/bower_components/angular/angular.js"></script>
    <script src="resources/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <!-- PDF.js -->
    <script src="resources/js/pdfjs-1.9.426-dist/build/pdf.js"></script>
    <script src="resources/js/pdfjs-1.9.426-dist/build/pdf.worker.js"></script>

    <!-- Copy From  anHALytics-frontend for visualization-->
    <link type="text/css" href="resources/js/pdf.js/web/text_layer_builder.css" rel="stylesheet"/>
    <link type="text/css" href="resources/js/pdf.js/web/annotation_layer_builder.css" rel="stylesheet"/>
    <script type="text/javascript" src="resources/js/pdf.js/web/text_layer_builder.js"></script>
    <script type="text/javascript" src="resources/js/pdf.js/web/pdf_link_service.js"></script>
    <script type="text/javascript" src="resources/js/pdf.js/web/annotation_layer_builder.js"></script>
    <script type="text/javascript" src="resources/js/pdf.js/build/pdf.js"></script>
    <script type="text/javascript" src="resources/js/pdf.js/build/pdf.js"></script>





    <!-- my custom stuff -->
    <script src="resources/controllers/tabsController.js"></script>
    <script src="resources/controllers/uploadController.js"></script>
    <script src="resources/controllers/linkController.js"></script>
    <script src="resources/directives/directives.js"></script>

    <link rel="stylesheet" href="resources/css/style.css" media="screen"/>

    <!--<link rel="stylesheet" href="resources/css/style.css"/>-->
    <!--<link rel="stylesheet" href="resources/css/awesome-bootstrap-checkbox.css"/>-->

    <!--<script type="text/javascript" src="resources/bootstrap/js/prettify.js"></script>-->
</head>

<body>
<div class="container">
    <div ng-controller="tabsController">
        <div class="page-header">
            <h3><span>DESIR Code Sprint Track A - Text Mining</span></h3>
            <span>Experimenting integration in the DARIAH infrastructure: Text Mining</span>
        </div>

        <uib-tabset active="activeForm">
            <uib-tab index="0" heading="Services">
                <div class="tabContent">
                    <ng-form name="nestedForm" class="form-inline">
                        <div class="row" ng-controller="uploadController">
                            <div class="col-xs-12">
                                <div class="col-xs-6 form-group">
                                    <div class="input-group pull-left">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" button
                                                        ng-click="uploadFile()">Submit</button>
                                            </span>
                                        <input class="form-inline" file-model="myFile" name="input" type="file" id="fileSelected"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12" ng-if="jsonResponse">
                                <div class="pull-right">Processed</div>
                                <!--<div class="pull-right">-->
                                    <!--Total runtime: <strong>{{ jsonResponse.totalRuntime }}</strong> ms |-->
                                    <!--Grobid runtime:<strong> {{ jsonResponse.grobidRuntime }}</strong> ms |-->
                                    <!--Entity runtime:<strong> {{ jsonResponse.efRuntime }}</strong> ms |-->
                                    <!--Author resolution runtime:<strong> {{ jsonResponse.ecRuntime }}</strong> ms-->
                                <!--</div>-->
                            </div>
                            <div >
                                <button id="prev">Previous</button>
                                <button id="next">Next</button>
                                &nbsp; &nbsp;
                                <span>Page: <span id="page_num" ng-model="page_num"></span>  /  <span id="page_count"></span></span>
                            </div>
                            <div id="pdf">
                                <canvas id="the-canvas"> </canvas>
                            </div>

                            <div class="col-xs-12" id="requestResult" ng-if="jsonResponse">
                                <hr/>
                                <div class="row">


                                    <!--<div class="col-xs-12" ng-controller="linkController">-->
                                        <!--<div class="jumbotron" ng-repeat="entity in jsonResponse.entities">-->
                                            <!--&lt;!&ndash;<div class="row" ng-repeat="entity in jsonResponse.entities track by $index" ng-if="$index%4==0">&ndash;&gt;-->
                                            <!--&lt;!&ndash;track by entity.id&ndash;&gt;-->
                                            <!--<entity class="col-xs-height"></entity>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                </div>
                            </div>
                            <div id="errorResponse" ng-if="errorMessage">
                                <hr/>
                                <div ng-if="errorMessage.status">
                                    <strong>Status</strong>: {{errorMessage.status}}<br/>
                                    <strong>Message</strong>: {{errorMessage.data.message}}<br/>
                                    <strong>Error</strong>: {{errorMessage.data.error}}<br/>
                                </div>
                                <div>
                                    <strong>Raw response</strong>
                                    <p>
                                        {{errorMessage}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </ng-form>
                </div>
            </uib-tab>
            <uib-tab index="1" heading="About">
                <div class="tabContent">
                    <p>Repository: <a href="https://github.com/DESIR-CodeSprint/TrackA-TextMining">GitHUB</a></p>
                    <p>Contacts: <i>Luca Foppiano, Tanti Kristanti</i></p>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
    <footer>
        <p></p>
    </footer>
</div>
</body>
</html>
