<html lang="en" ng-app="org.dariah.desir.ui">
<head>
    <meta charset="utf-8">
    <title>DESIR Code Sprint Track A - Text Mining</title>

    <!-- JQuery -->
    <script src="resources/bower_components/jquery/dist/jquery.js"></script>
    <script src="resources/bower_components/jquery-form/dist/jquery.form.min.js"></script>

    <!-- Bootstrap -->
    <script src="resources/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="resources/bower_components/bootstrap/dist/css/bootstrap.css" media="screen"/>
    <link rel="stylesheet" href="resources/bower_components/bootstrap/dist/css/bootstrap-theme.css" media="screen"/>

    <!-- Angular JS -->
    <script src="resources/bower_components/angular/angular.js"></script>
    <script src="resources/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <!-- PDF.js -->
    <script src="resources/bower_components/pdfjs-bower/dist/compatibility.js"></script>
    <script src="resources/bower_components/pdfjs-bower/dist/pdf.js"></script>

    <!-- my custom stuff -->
    <script src="resources/controllers/tabsController.js"></script>
    <script src="resources/controllers/uploadController.js"></script>
    <script src="resources/controllers/linkController.js"></script>
    <script src="resources/directives/directives.js"></script>

    <link rel="stylesheet" href="resources/css/style.css" media="screen"/>

    <!--<link rel="stylesheet" href="resources/css/style.css"/>-->
    <!--<link rel="stylesheet" href="resources/css/awesome-bootstrap-checkbox.css"/>-->

    <!--<script type="text/javascript" src="resources/bootstrap/js/prettify.js"></script>-->
</head>

<body>
<div class="container">
    <div ng-controller="tabsController">
        <div class="page-header">
            <h1><span>DESIR Code Sprint Track A - Text Mining</span></h1>
            <span>Experimenting integration in the DARIAH infrastructure: Text Mining</span>
        </div>

        <uib-tabset active="activeForm">
            <uib-tab index="0" heading="Services">
                <div class="tabContent">
                    <ng-form name="nestedForm" class="form-inline">
                        <div class="row" ng-controller="uploadController">
                            <div class="col-xs-12">
                                <div class="col-xs-6 form-group">
                                    <div class="input-group pull-left">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" button
                                                        ng-click="uploadFile()">Submit</button>
                                            </span>
                                        <input class="form-inline" file-model="myFile" name="input" type="file"/>
                                    </div>
                                </div>
                                <div class="col-xs-6" ng-if="jsonResponse">
                                    <div class="pull-right">
                                        Total runtime: <strong>{{ jsonResponse.totalRuntime }}</strong> ms |
                                        Grobid runtime:<strong> {{ jsonResponse.grobidRuntime }}</strong> ms
                                        Entity runtime:<strong> {{ jsonResponse.efRuntime }}</strong> ms
                                        Author resolution runtime:<strong> {{ jsonResponse.ecRuntime }}</strong> ms
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12" id="requestResult" ng-if="jsonResponse">
                                <hr/>
                                <div class="row">
                                    <div class="col-xs-12" ng-controller="linkController">
                                        <div class="jumbotron" ng-repeat="entity in jsonResponse.entities">
                                            <!--<div class="row" ng-repeat="entity in jsonResponse.entities track by $index" ng-if="$index%4==0">-->
                                            <!--track by entity.id-->
                                            <entity class="col-xs-height"></entity>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="errorResponse" ng-if="errorMessage">
                                <hr/>
                                <div ng-if="errorMessage.status">
                                    <strong>Status</strong>: {{errorMessage.status}}<br/>
                                    <strong>Message</strong>: {{errorMessage.data.message}}<br/>
                                    <strong>Error</strong>: {{errorMessage.data.error}}<br/>
                                </div>
                                <div>
                                    <strong>Raw response</strong>
                                    <p>
                                        {{errorMessage}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </ng-form>
                </div>
            </uib-tab>
            <uib-tab index="1" heading="About">
                <div class="tabContent">
                    <p>Repository: <a href="https://github.com/DESIR-CodeSprint/TrackA-TextMining">GitHUB</a></p>
                    <p>Contacts: <i>Luca Foppiano, Tanti Kristanti</i></p>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
    <footer>
        <p></p>
    </footer>
</div>
</body>
</html>
