<html lang="en" ng-app="org.dariah.desir.ui">
<head>
    <meta charset="utf-8">
    <title>DESIR Code Sprint Track A - Text Mining</title>

    <!-- JQuery -->
    <script src="resources/bower_components/jquery/dist/jquery.js"></script>
    <script src="resources/bower_components/jquery-form/dist/jquery.form.min.js"></script>

    <!-- Bootstrap -->
    <script src="resources/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="resources/bower_components/bootstrap/dist/css/bootstrap.css" media="screen"/>
    <link rel="stylesheet" href="resources/bower_components/bootstrap/dist/css/bootstrap-theme.css" media="screen"/>

    <!-- Angular JS -->
    <script src="resources/bower_components/angular/angular.js"></script>
    <script src="resources/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <!-- PDF.js -->
    <script src="resources/js/pdfjs-1.9.426-dist/build/pdf.js"></script>
    <script src="resources/js/pdfjs-1.9.426-dist/build/pdf.worker.js"></script>

    <!-- PDF.js -->
    <script src="resources/js/wiki2html.js"></script>

    <!-- Copy From  anHALytics-frontend for visualization-->
    <link type="text/css" href="resources/js/pdf.js/web/text_layer_builder.css" rel="stylesheet"/>
    <link type="text/css" href="resources/js/pdf.js/web/annotation_layer_builder.css" rel="stylesheet"/>
    <script type="text/javascript" src="resources/js/pdf.js/web/text_layer_builder.js"></script>
    <script type="text/javascript" src="resources/js/pdf.js/web/pdf_link_service.js"></script>
    <script type="text/javascript" src="resources/js/pdf.js/web/annotation_layer_builder.js"></script>
    <script type="text/javascript" src="resources/js/pdf.js/build/pdf.js"></script>
    <script type="text/javascript" src="resources/js/pdf.js/build/pdf.js"></script>

    <link type="text/css" href="resources/style.css" rel="stylesheet"/>


    <!-- my custom stuff -->
    <script src="resources/controllers/tabsController.js"></script>
    <script src="resources/controllers/uploadController.js"></script>
    <script src="resources/controllers/linkController.js"></script>
    <script src="resources/directives/directives.js"></script>

    <link rel="stylesheet" href="resources/css/style.css" media="screen"/>

    <!--<link rel="stylesheet" href="resources/css/style.css"/>-->
    <!--<link rel="stylesheet" href="resources/css/awesome-bootstrap-checkbox.css"/>-->

    <!--<script type="text/javascript" src="resources/bootstrap/js/prettify.js"></script>-->
</head>

<body>
<div class="container">
    <div ng-controller="tabsController">
        <div class="row mb">
            <div class="col-md-3">
                <img src="resources/desir.png" class="img-responsive" alt="Responsive image">
            </div>
            <div class="col-md-6">
                <div class="page-header">
                    <h2><span>DESIR Code Sprint Track A - Text Mining</span></h2>
                    <span>Experimenting integration in the DARIAH infrastructure: Text Mining</span>
                </div>
            </div>
            <div class="col-md-3">
                <img src="resources/inria.png" class="img-responsive" alt="Responsive image">
            </div>
        </div>


        <uib-tabset active="activeForm">
            <uib-tab index="0" heading="Services">
                <div class="tabContent">
                    <ng-form name="nestedForm" class="form-inline">
                        <div class="row" ng-controller="uploadController">
                            <div class="col-xs-12 mb">
                                <!--<div class="col-xs-6 form-group">
                                    <div class="input-group pull-left">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" button
                                                        ng-click="uploadFile()">Submit</button>
                                            </span>
                                       <input class="form-inline" file-model="myFile" name="input" type="file" id="filelSelected" ng-click="clear()"/>
</span>
                                    </div>-->
                                    <div class="input-group">
                                        <label class="input-group-btn">
                                            <span class="btn btn-primary ">
                                                Load PDF... <input type="file" file-model="myFile" style="display: none;" multiple  ng-click="clear()">
                                            </span>
                                        </label>
                                        <input type="text" ng-show="myFile" class="form-control col-md-2"  ng-value="myFile.name" id="fileSelected" readonly>
                                    </div>

                            </div>
                            <div class="col-xs-12 mb" ng-show="myFile">
                                <div class="col-xs-6">
                                    <span class="help-block" >Process type : </span>
                                    <button type="button" class="btn btn-default " ng-click="uploadFile('authors')">
                                        <span ng-show="processingAuthors == 'Processing Authors...'"><i class="glyphicon glyphicon-refresh spinning"></i></span>
                                        {{ processingAuthors }}
                                    </button>
                                    <button type="button" class="btn btn-default " ng-click="uploadFile('citations')">
                                        <span ng-show="processingCitations == 'Processing Citations...'"><i class="glyphicon glyphicon-refresh spinning"></i></span>
                                        {{ processingCitations }}
                                    </button>
                                    <button type="button" class="btn btn-default " ng-click="uploadFile('entities')">
                                        <span ng-show="processingEntities == 'Processing Named-Entities...'"><i class="glyphicon glyphicon-refresh spinning"></i></span>
                                        {{ processingEntities }}
                                    </button>
                                    <button type="button" class="btn btn-default " ng-click="uploadFile('acknowledgments')">
                                        <span ng-show="processingAcknowledgments == 'Processing Acknowledgments...'"><i class="glyphicon glyphicon-refresh spinning"></i></span>
                                        {{ processingAcknowledgments }}
                                    </button>
                                </div>
                                <!--<div class="col"  ng-if="jsonResponse"> <h3><strong class="pull-left alert-success">Processed</strong></h3></div>-->

                                <div  ng-if="jsonResponse" class="col-xs-6 alert alert-success fade in">
                                    <strong>{{processed}}</strong>
                                </div>
                                <div  ng-if="requestError" class="col-xs-6 alert alert-danger fade in">
                                    <strong>Server error when processing PDF!!!</strong>
                                </div>
                                <div  ng-if="errorMessage" class="col-xs-6 alert alert-warning fade in">
                                    <strong>{{errorMessage}}</strong>
                                </div>
                            </div>
                            <!-- <div class="col-xs-12" ng-if="jsonResponse">

                                 <div class="pull-right">-->
                                <!--Total runtime: <strong>{{ jsonResponse.totalRuntime }}</strong> ms |-->
                                <!--Grobid runtime:<strong> {{ jsonResponse.grobidRuntime }}</strong> ms |-->
                                <!--Entity runtime:<strong> {{ jsonResponse.efRuntime }}</strong> ms |-->
                                <!--Author resolution runtime:<strong> {{ jsonResponse.ecRuntime }}</strong> ms-->
                                <!--</div>
                            </div>-->
                            <div class="col-xs-16" id="pdf-viewer" ></div>

                        </div>
                    </ng-form>
                </div>
            </uib-tab>
            <uib-tab index="1" heading="About">
                <div class="tabContent">
                    <p>Repository: <a href="https://github.com/DESIR-CodeSprint/TrackA-TextMining">GitHUB</a></p>
                    <p>Contacts: <i>Luca Foppiano, Tanti Kristanti</i></p>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
    <footer>
        <p></p>
    </footer>
</div>
</body>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
</html>
